/* 3.0 Header Section*/
.header {
    position: fixed;
    width:100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
}
.header .logo {
    width:40%;
    float:left;
}
.header .logo img {
    width:20%;
    margin-top:15px;
}
.header .nav{
    width:60%;
    float:left;
    list-style: none;
    text-align: right;
}
.header .nav > li {
    display:inline-block;
    text-align: right;
}

.header .nav > li > a {
    color:white;
    text-decoration: none;
    display: block;
    padding:30px 15px;
    font-size:15px;
}
.header .nav > li > a:after,.header .nav > li > a.active:after {
    content:"";
    display: block;
    height: 2px;
    background-color: var(--maincolor);
    transition: width 0.5s;
    margin-top:2px;
}

.header .nav > li > a:after{
    width: 0%;
}
.header .nav > li > a.active:after{
    width: 100%;
}

.header .nav > li > a:hover:after{
    width: 100%;
}

.dropdown {
    position: relative;

}

.dropdown-menu {
    position: absolute;
    background-color: var(--maincolor);
    width:150px;
    text-align: center;
    left:-50%;
    top:70%;
    list-style: none;
    opacity:0;
    visibility: hidden;
    transition: opacity 0.5s , visibility 0.5s;

}
.dropdown:hover .dropdown-menu{
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a {
    display: block;
    text-align: center;
    color:white;
    padding:10px;
}


